html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  width: 99%;
  font-size: 1.6rem;
  color: black;
  background-color: white;
  text-align: center;
}
#title {
  width: 100%;
  font-size: 5em;
  text-align: left;
}
#subtitle {
  width: 100%;
  text-align: left;
  font-size: 3em;
}
#navButtons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: .6em;
}
.button {
  color: white;
  font-size: 3em;
  background-color: #7f8c8d;
  margin: .2rem .4rem;
  border-radius: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.button:hover {
  cursor: pointer;
}
#photo {
  width: 100%;
}
#colinPic {
  border-radius: .5rem;
  width: 90%;
  padding-top: 2rem;
  
  /* max-width: 480px; */
}
#about {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  min-height: 6.0rem;
  font-size: 2.0rem;
  text-align: left;
}
#reelWrapper {
	position: relative;
	padding-bottom: 35%;
	padding-top: 25px;
  height: 0;
}
#reelVid {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
  height: 90%;  
}
#portfolio {
  width: 100%;
  min-height: 6.0rem;
}
.header {
  font-size: 2.4rem;
  text-align: center;
}
.list {
  transition: all .5s;
}
#contact {
  margin-top: 2.4rem;
  width: 100%;
  min-height: 6.0rem;
}
.display {
  font-size: 1.4rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  border: solid .2rem #7f8c8d;
  border-radius: .5rem;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
.icon {
  font-size: 16rem;
  margin-left: .2rem;
  margin-right: .2rem;
}
#attribution {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  color: black;
}
.social {
  display: block;
  text-align: center;
  margin-left: auto%;
  margin-right: auto%;
}
#attribution > a {
  color: black;
}

/* MEDIA QUERIES */

@media only screen and (min-device-width: 768px) {
  body{

  }
  #photoWithAbout {
    display: flex;
    margin-bottom: 2rem;
  }
  #photo {
    margin: auto;
    padding-left: 5%;
  }
  #about {
    margin: auto;
  }
  .button {
    font-size: 1.6em;
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  .icon {
    font-size: 10rem;
  }
  .controlWidth {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .list {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  /* #colinPic {
    padding-top: 8%;
    padding-bottom: 4%;
  } */
  .button:hover {
    background-color: blue;
  } 
  
}

@media only screen and (min-device-width: 1440px) {
  #about {
    font-size: 3.2rem;
  }
  #contact {
    font-size: 3.2rem;
  }
}