html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  width: 100%;
  font-size: 1.6rem;
  color: black;
  background-color: white;
  text-align: center;
}
#title {
  width: 100%;
  font-size: 3.6rem;
  text-align: left;
}
#subtitle {
  width: 100%;
  text-align: left;
  font-size: 2.4rem;
}
#navButtons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: .6rem;
  /* background-color: #bdc3c7; */
}
.button {
  color: white;
  font-size: 5rem;
  background-color: #7f8c8d;
  margin: .2rem .4rem;
  border-radius: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.button:hover {
  cursor: pointer;
}
#photo {
  width: 100%;
  /* background-color: #7f8c8d; */
}
#colinPic {
  border-radius: .5rem;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 480px;
  /* width: 27rem;
  padding: 2rem 4.5rem 1rem; */
}
#about {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* width: 33rem; */
  /* background-color: #bdc3c7; */
  min-height: 6.0rem;
  font-size: 2.0rem;
  text-align: left;
  /* max-width: 480px; */
}
#reelWrapper {
	position: relative;
	padding-bottom: 35%; /* 16:9 */
	padding-top: 25px;
  height: 0;
}
#reelVid {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
  height: 90%;  
}
#portfolio {
  width: 100%;
  /* background-color: #bdc3c7; */
  min-height: 6.0rem;
}
.header {
  font-size: 2.4rem;
  text-align: center;
}
#contact {
  margin-top: 2.4rem;
  width: 100%;
  /* background-color: #7f8c8d; */
  min-height: 6.0rem;
}
.display {
  font-size: 1.4rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  border: solid .2rem #7f8c8d;
  border-radius: .5rem;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
.icon {
  font-size: 16rem;
  /* color: #7f8c8d; */
  margin-left: .2rem;
  margin-right: .2rem;
}
#attribution {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  color: black;
}
#social {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
#attribution > a {
  color: black;
}

/* MEDIA QUERIES */

